/* Typography
----------------------------------------------------------*/
@font-face 
{
	font-family: Titillium;
	src: url("fonts/TitilliumText22L003-webfont.eot");
	src: url("fonts/TitilliumText22L003-webfont.eot?#iefix") format('embedded-opentype'),
	     url("fonts/TitilliumText22L003-webfont.woff") format('woff'),
	     url("fonts/TitilliumText22L003-webfont.ttf") format('truetype'),
	     url("fonts/TitilliumText22L003-webfont.svg") format('svg');
	font-weight: normal;
	font-style: normal;
}



/* General
----------------------------------------------------------*/
html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    border: 0px;
    color: #333;
    font-size: .85em;
    font-family: 'Titillium';
    margin: 0;
    padding: 0;
    font-size: 14px;
}

a {
    color: #333;
    outline: none;
    text-decoration: underline;
}

button 
{
    color: #fff;
    background-color: #0050a0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 40px;
    border: 0px;
    font-weight:bold;
    font-size: 16px;
    width: 160px;
    cursor: pointer;
    position:relative;
    behavior: url(/scripts/PIE.htc);
}
button:hover 
{
    background-color: #014e88;
}
input 
{
    font-family: Helvetica, Arial, Sans-Serif;
}
header, footer, hgroup,
nav, section {
    display: block;
}
#nav 
{
    position:absolute;
    width: 100%;
    top: 101px;
    clear:both;
    overflow:visible;
    height:49px;
    padding: 0px;
    margin: 0px;
}

#menu 
{
    position:relative;
    /*top: -12px;*/
    height: 49px;
    margin:0px;
    padding:0px;
}
.menu li
{
    float: left;
    list-style-type:none;
    display:block;
    height:49px;
    overflow:visible;
}
.menu li.middle
{
    border-left: solid 1px #97a79f;
    border-right: solid 1px #97a79f;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    border-right: solid 1px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.menu li a 
{
    color: #ffffff;
    text-decoration:none;
    font-size: 18px;
    font-weight: 250;
    line-height: 49px;
    padding: 0px 28px 0px 28px;
    display:block;
    height: 49px;
    text-align:center;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0055954b',endColorstr='#0055954b');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0055954b',endColorstr='#0055954b');
}
.menu li.current > a
{
    background-color: #55954b !important;
}
.menu li > a:hover 
{
    background-color: rgba(85, 149, 75, 0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4d55954b',endColorstr='#4d55954b');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4d55954b',endColorstr='#4d55954b');
}
.menu li img
{
    display:block;
    margin: 0 auto 0 auto;
}
.menu ul li
{
    width: 100%;
}
.menu ul li a 
{
    text-align:left;
}
.menu ul li 
{
    background-color: rgba(44, 77, 63, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b32c4d3f',endColorstr='#b32c4d3f');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b32c4d3f',endColorstr='#b32c4d3f');
    border-bottom: solid 1px #97a79f;
    border-left: solid 1px rgba(255, 255, 255, 0.5);
}
.menu ul li:last-child
{
    -webkit-border-bottom-left-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-right-radius: 7px;
}

.user 
{
    float:right;
    font-size:14px;
    color:#ffffff;
    line-height:49px;
}
.user-head 
{
    height:19px;
    width:22px;
    background: url(images/head.png) no-repeat;
    display:inline-block;
    margin-right: 8px;
    position:relative;
    top:2px;
    opacity:0.5;
    filter: alpha(opacity=50);
    -ms-filter: alpha(opacity=50);
}


 
/* These styles assume you are using ul and li */
.dropit {
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-trigger { position: relative; }
.dropit .dropit-submenu {
    position: absolute;
    top: 100%;
    left: 0; /* dropdown left or right */
    z-index: 1000;
    display: none;
    min-width: 150px;
    list-style: none;
	padding: 0;
	margin: 0;
}
.dropit .dropit-open .dropit-submenu { display: block; }
.dropit .dropit-open img { display: none; }

header 
{
    margin-top:0px;
    padding-top:0px;
    padding-bottom:8px;
    background: #121d29 url(images/header.png) no-repeat top center;
    display:block;
    height:150px;
    font-size:12px;
    line-height:22px;
    padding: 0px;
}

.logo 
{
    /*background:url(images/icon.gif);*/
    display:block;
    float:left;
    position:relative;
    margin-right:10px;
    top:0px;
    left:-42px;
}
.logo a
{
    display:block;
    width:512px;
    height:100px;
}
.logo a img 
{
    border: 0px;
}

.clear {clear:both;}

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #4881b0;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight:500;
    margin: 0px;
    margin: 10px 0px 15px 0px;
    padding: 0px;
    color:#0050a0;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 18px;
    font-weight:750;
    color:#555;
    line-height: 18px;
    margin-bottom: 20px;
    display:inline-block;
}

h4 {
    font-size: 14px;
    font-weight:750;
    color:#555;
    line-height: 18px;
    margin-bottom: 30px;
    display:inline-block;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/
.content-wrapper {
    margin: 0 auto;
    max-width: 1050px;
}

#body {
    clear: both;
    padding-bottom: 35px;
    padding:0px;
}

header .content-wrapper {
    
}

footer {
    clear: both;
    color: #555555;
    font-size: 14px;
    font-weight:500;
    height: 100px;
}

footer p
{
    margin: 8px 0px 8px 0px;
}

/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: 'Titillium';
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}


/* page elements
----------------------------------------------------------*/

/* page titles */
hgroup.title {
    margin-bottom: 10px;
}

hgroup.title h1, hgroup.title h2 {
    display: inline;
}

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */
section.feature {
    width: 300px;
    float: left;
    padding: 10px;
}

/* content */
.main select {
    margin: 5px;
    width: 400px;
}

.main #file {
    margin: 0px;
    width: 400px;
    height: 24px;
}
.main input[type="button"] {
    margin: 0px;
    width: 100px;
    height: 20px;
}

.main #progressbar 
{
    width:50px;
}

.ui-dialog
{
    min-width: 500px;
}

article {
    float: left;
    width: 70%;
}

/* contact */
.contact h3 {
    font-size: 1.2em;
}

.contact p {
    margin: 5px 0 0 10px;
}

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */
fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
    color: #555555;
}

label.checkbox {
    display: inline;
}

input[type="text"], input[type="password"] {
    border: 1px solid #d8d8d8;
    background: #fff;
    color: #888888;
    font-size: 13px;
    margin: 0px;
    padding: 2px 8px 2px 7px !important;
    width: 150px;
    line-height: 40px;
    height: 40px;
}

.ui-button .ui-button-text 
{
    line-height: 12px !important;
    font-size: 12px;
}
.ui-button 
{
    height: 22px;
    width: 90px;
}

/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

/* miscellaneous
----------------------------------------------------------*/

.filtering
{
    margin: 10px 0px 22px 0px;
    padding: 15px 10px 15px 10px;
    background-color: #ebebeb;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    position:relative;
    behavior: url(/scripts/PIE.htc);
}
input[type="text"], input[type="password"]
{
    padding: 2px 4px 3px 4px;
    height: 35px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position:relative;
    behavior: url(/scripts/PIE.htc);
}
.filtering input[type="checkbox"] 
{
    position:relative;
    top:3px;
    margin-right:3px;
}
.filtering table td
{
    padding: 8px;
}
.filtering label 
{
    white-space:nowrap;
}
.filtering #txtLicsId 
{
    width: 145px;
}

.filtering button 
{
    width: 160px;
}
.filtering img 
{
    position:absolute;
    margin-top: 12px;
    margin-left: 4px;
}

table 
{
    width:100%;
    max-width:100%;
    margin: 0px;
}

table td 
{
    margin:0px;
    padding:0px;
}
table td label
{
    position:relative;
    top:2px;
}

.jtable-main-container 
{
    margin-top:5px;
}

.jRight 
{
    text-align:right;
}

input[type="radio"] 
{
    display:inline !important;
    margin: 3px 0px 0px 0px;
    width: 25px;
}

label 
{
}

.regular button
{
    font-size: 12px;
}
.regular button span
{
    padding:4px 10px 4px 10px !important;
}
.regular input[type="radio"] 
{
    border:none;
}
.regular input[type="text"], .regular input[type="password"]
{
    height: 16px;
    font-size: 12px;
    padding: 2px 4px 2px 4px;
    margin: 0px;
    width: 290px;
}
.regular .date, .regular
{
    width: 80px;
}
.time 
{
    width: 50px !important;
}
.regular .quantity 
{
    width: 60px !important;
}
.regular .batch 
{
    width: 90px !important;
}
.regular .sscc 
{
    width: 160px !important;
}
.regular .disposition 
{
    width: 100px !important;
}
.regular .division, .regular .postcode 
{
    width:80px;
}
.regular select 
{
    width: 300px;
}
.regular .layout 
{
    margin-top:5px;
    margin-bottom: 5px;
}
.regular .layout td
{
    height: 25px;
    padding: 2px 0px 2px 0px;
    vertical-align:top;
}
.regular .layout td td 
{
    padding: 0px;
    height: 21px;
}
.regular :disabled 
{
    cursor:default !important;
}
.regular .mainActionButtons
{
    float:right;
    position:relative;
    top:-20px;
}
.regular .mainActionButtons button
{
    width: 120px;
}
.clear 
{
    clear:both;
}
.regular h3 button 
{
    position:relative;
    float:right;
    width: 120px;
}
.regular #addMaterial 
{
    top:-10px;
}

.regular #deliveryMatrix 
{
    margin: 10px 0px 5px 0px;
    float:right;
    width: 50%;
    display:none;
}
.regular #deliveryMatrix div.warning
{
    color:#E45756;
    font-size:10px;
}
.regular textarea 
{
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.filtering .date 
{
    width: 80px;
}

.select_button 
{
    float:none !important;
    position:relative !important;
    top:0px !important;
    margin-left:5px !important;
}
pre 
{
    margin: 0px;
    font-size: 11px;
}
pre.exception
{
    font-family: Consolas, Monospace;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
#RowDataTableContainer td
{
    line-height: 29px;
}
pre.colcount
{
    display:block;
    float: none !important;
    color:#666666;
    background-color:#f8f8f9;
}

#RowDataTableContainer div.jtable-main-container
{
    overflow-x: scroll;
    overflow-y: visible;
    width:100%;
}
#RowDataTableContainer td 
{
    padding:0px;
}
#RowDataTableContainer td 
{
    min-height: 14px !important;
    height: 14px !important;
    line-height: 14px !important;
}
#RowDataTableContainer td div.spacing
{
    padding:2px 3px 2px 3px;
}
#RowDataTableContainer td pre 
{
    padding:2px 0px 2px 0px;
    float:left;
}
#RowDataTableContainer td pre.leftEdge
{
    padding-left:3px;
}
#RowDataTableContainer td pre.rightEdge
{
    padding-right:3px;
}
#RowDataTableContainer td pre.highlight
{
    background-color: #E45756;
    /*color: #E45756 !important;*/
}
#RowDataTableContainer td div 
{
    min-height: 14px;
}
#RowDataTableContainer td div.tooltipErrors 
{
    border: solid 2px #E45756;
    min-height: 12px;
    padding-top:0px;
    /*color: #E45756;*/
}
#RowDataTableContainer td
{
    vertical-align:top;
}
#RowDataTableContainer td div.hasErrors
{
    color: #333;
    min-height: 12px;
    border: solid 2px #E45756;
    padding-top: 0px;
}

.tooltip 
{
    display:none;
}
.tooltip .jtable-main-container 
{
    max-width: 600px;
}

#fakefile 
{
    width: 274px;
    margin-right:10px;
}
#fakefileButton 
{
    position:relative;
    top:2px;
}

#ddlPerPage 
{
    width: 90px;
}

.jtable-column-select-list li div
{
    display:none;
}

.actions
{
    float:right;
}
.actions h3 
{
    display:inline-block;
}
#TableContainer 
{
    margin-top: 15px;
}
#TableContainer .jtable input[type="checkbox"] 
{
    display:block;
    margin: 0 auto;
    height: 13px;
    padding: 0px;
}
#TableContainer thead tr th:first-child +th+th+th+th+th+th+th+th+th+th+th+th
{
    background: #ffffff;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 0px;
    padding: 0px 0px 0px 3px;
    white-space:nowrap;
}
#TableContainer thead tr th:first-child +th+th+th+th+th+th+th+th+th+th+th+th div
{
    height: 100%;
}
#TableContainer thead tr th:first-child +th+th+th+th+th+th+th+th+th+th+th+th div span
{
    margin-top:0px;
    display:block;
    text-align:center;
}
#TableContainer #selectCell
{
    text-align:center;
}
#TableContainer tr.red 
{
    color: #ff3b3b;
}
#TableContainer #selectCell span
{
    cursor:pointer;
    color: #0050a0;
}
#TableContainer #selectCell span:hover
{
    text-decoration:underline;
}
#TableContainer #btnReprocess
{
    margin-top: 0px;
    height: 39px;
    margin: 0px auto 0px auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-weight:bold;
    font-size: 12px;
    width: 90px;
}

.tick 
{
    height:16px;
    width:16px;
    background:url(images/tick.png);
    display:block;
}

#progressText 
{
    display:block;
    position:relative;
    text-align:center;
    font-weight:bold;
    margin-top:-23px;
    color: #000;
}

.success 
{
    height: 24px;
    width: 24px;
    background: url(images/tick24x24.png);
    display:block;
}
.failure
{
    height: 24px;
    width: 24px;
    background: url(images/cross24x24.png);
    display:block;
}
.successProgress 
{
    background: #6AD16C url(images/wave-green.png) 50% 50% repeat-x !important;
}
.failureProgress 
{
    background: #E45756 url(images/wave-red.png) 50% 50% repeat-x !important;
}



/* Chosen */
header .chzn-container .chzn-drop {
    background-color: transparent;
    background-color: rgb(44, 77, 63);
  border-top: 0;
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  -moz-box-sizing   : border-box;
  -ms-box-sizing    : border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing : border-box;
  box-sizing        : border-box;
}


header .chzn-container-single .chzn-single 
{
    background-color: #1d3fb3;
    color: #ffffff;
    border: solid 1px #778cd1;
    border: solid 1px rgba(255, 255, 255, 0.4);
    margin-top:29px;
}
header .chzn-container-active.chzn-with-drop .chzn-single
{
    background-color: #1d3fb3;
}
header .chzn-container-single .chzn-default {
  color: #fff;
}
header .chzn-container .chzn-results 
{
    color: #fff;
}
header .chzn-container .chzn-results .no-results {
  background: transparent;
  color: #fff;
}
header .chzn-container-active .chzn-single 
{
    border: solid 1px #778cd1;
    border: solid 1px rgba(255, 255, 255, 0.4);
}

header .chzn-container .chzn-results .highlighted {
    background-color: transparent;
    background-color: rgba(29, 63, 179, 0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#801d3fb3',endColorstr='#801d3fb3');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#801d3fb3',endColorstr='#801d3fb3');
    background-image: none;
}

header .chzn-container-single .chzn-single div b {
  background: url('images/head-drop.png') no-repeat;
}
header .chzn-container-single .chzn-search input {
    border: 1px solid #aaa;
    background: url(images/head-search.png) no-repeat top right;    
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33ffffff',endColorstr='#33ffffff');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33ffffff',endColorstr='#33ffffff');
    color:#fff;
    background-color: rgba(255, 255, 255, 0.2);
}
header .chzn-container .chzn-results li em 
{
    background: #888888;
    background: rgba(255, 255, 255, 0.5);
}


#ddlConnection 
{
    width: 260px;
}




table.trace-details
{
    border-spacing: 0;
    margin: 12px 0px 12px 0px;
}
table.trace-details
{
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 13px;
}
table.trace-details td:first-child
{
    padding-left:20px;
}
table.trace-details td:first-child +td+td+td+td+td
{
    padding-right:20px;
}
table.trace-details td
{
    padding: 5px;
}
table.trace-details td:first-child +td+td
{
    padding-left:20px;
}
table.trace-details td:first-child +td+td+td+td
{
    padding-left:20px;
}
table.trace-details td:first-child +td 
{
    border-right: 1px solid #d8d8d8;
}
table.trace-details td:first-child +td+td+td
{
    border-right: 1px solid #d8d8d8;
}

div.hr
{
    height: 1px;
    display:block;
    border-bottom: 1px solid #d8d8d8;    
}

.switch table 
{
    margin-top: 15px;
}
.upload td, .switch td
{
    font-family: 'Titillium';
    font-weight:500;
    font-size:16px;
}
.switch input[type="text"], input[type="password"] {
    width: 144px;
}

.upload input[type="text"] {
    width: 144px;
}
.upload table 
{
    margin-top: 30px;
}


.option-group 
{
    list-style-type: none;
    display: inline-block;
    background-color: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position:relative;
    padding:0px;
    behavior: url(/scripts/PIE.htc);
}
.option-group li
{
    position:relative;
    float:left;
    display:block;
    padding: 5px 7px 5px 7px;
    background-color: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #0050a0;
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    margin:0px;
    behavior: url(/scripts/PIE.htc);
}
.option-group li:hover 
{
    text-decoration:underline;
    cursor:pointer;
}
.option-group li.option-selected
{
    background-color: #cccccc;
    color:#fff;    
}
.option-group li.option-selected:hover 
{
    text-decoration:none;
    cursor:default;
}

div.upload .option-group 
{
    margin:0px;
}

#perpage-panel
{
    float:right;
}

#refresh-panel 
{
    float:right;
    margin-right: 30px;
}

#perpage-panel h4, #refresh-panel h4 
{
    vertical-align:top;
    margin-right: 10px;
}
.errorcount-panel 
{
    display:inline-block;
    margin-left: 15px;
    font-size: 16px;
}

#divInterfaceDetails #refresh-panel 
{
    margin-right: 15px;
}


.ui-button
{
    color: #fff !important;
    background-color: #0050a0 !important;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    height: 40px !important;
    border: 0px !important;
    font-weight:bold !important;
    width: 160px;
    cursor: pointer;
    behavior: url(/scripts/PIE.htc) !important;
    position:relative;
}
.ui-button:hover 
{
    background-color: #014e88 !important;
}
.ui-button-text-only .ui-button-text 
{
    font-family: 'Titillium' !important;
    font-size: 16px !important;
}

.ui-dialog 
{
    font-family: Helvetica, Arial, Sans-Serif;
    position:relative;
}
.ui-dialog table td strong 
{
    font-size: 14px;
}
.ui-progressbar .ui-progressbar-value
{
    background: #e9f5fa url(images/wave-blue.png) 50% 50% repeat-x;
}


.placeholdersjs 
{
    color: #e2e2e2 !important;
}

input.date 
{
    border-right:0px;
    position:relative;
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius   : 7px 0 0 7px;
    border-radius        : 7px 0 0 7px;
    background: #fff url(images/divider.png) no-repeat top right;
    color: #888888 !important;
}
input.time 
{
    border-left:0px;
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius   : 0 7px 7px 0;
    border-radius        : 0 7px 7px 0;
    color: #888888 !important;
}

