.chzn-container-single .chzn-search input {
  line-height:26px !important;
}
.upload #fakefileButton
{
    top:-1px;
}
input.date 
{
    background: #fff;
    border-right:1px solid #D2E4ED;
}
.ui-corner-all 
{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/scripts/PIE.htc);
}
.ui-progressbar 
{
    behavior: url(/scripts/PIE.htc);
}
#TableContainer thead tr th:first-child +th+th+th+th+th+th+th+th+th+th+th+th
{
    border-right: 1px solid #d8d8d8;
}