#############################################################################
# File Name:  ics_loader.config
# Purpose  :  Configuration file for ANZICS Inbound & Outbound interfaces
#             to/from Maestro.
# Created  :  April 04, 2008
# Author   :  Trevor Keon
#
#############################################################################
# Modification History
#
# Version Name                  Date        Comments
# ------- --------------------- ----------- --------------------------------
# 1.0     Trevor Keon           2008-04-03  Original
# 1.7     Trevor Keon           2008-10-23  Add SHLIB_PATH
#
#############################################################################

INBOUND_PATH    /ics/pts/test/inbound
OUTBOUND_PATH   /ics/pts/test/outbound
ARCHIVE_PATH    /ics/pts/test/archive
WEBVIEW_PATH    /ics/pts/test/webview
ICS_CLASS_PATH  /ics/pts/test/java
JAVA_PATH       /opt/java1.4/jre/bin/java
SHLIB_PATH      /ics/lad/sapjco32
WORK_PATH       /ics/pts/test/work
BIN_PATH        /ics/pts/test/bin
LOGFILE         /ics/pts/test/log/ics_integration.log

SERVER          WODU003.AP.MARS
AMI_TIER        test
SYS_TIER        test
ENV_VAR         /usr/local/bin/ami_settier 
DATABASE        DB0762D
USERNAME        lics_app
PASSWORD        licsapppt
