#############################################################################
# File Name:  ics_loader.config
# Purpose  :  Configuration file for ANZICS Inbound & Outbound interfaces
#             to/from Maestro.
# Created  :  March 24, 2004
# Author   :  Linden Glen - 
#
#############################################################################
# Modification History
#
# Version Name                  Date        Comments
# ------- --------------------- ----------- --------------------------------
# 1.0     Linden Glen           24-03-2004  Original
# 1.1     John Eitel            2004-10-14  Add WEBVIEW_PATH
# 1.2     Megan Henderson       2004-10-19  Add ORA_LOG and SYS_TIER
# 1.3     Megan Henderson       2005-07-31  Changed AMI paths for filesystem
# 1.4     Megan Henderson       2005-08-17  Added sapjco32
# 1.5     Steve Gregan          2007-03-02  Added VDS_CFG
# 1.6     Trevor Keon           2008-02-12  Converted to new standard
#
#############################################################################

INBOUND_PATH     /ics/lad/test/inbound
OUTBOUND_PATH    /ics/lad/test/outbound
ARCHIVE_PATH     /ics/lad/test/archive
WEBVIEW_PATH     /ics/lad/test/webview
STATISTICS_PATH  /ics/lad/test/statistics
ICS_CLASS_PATH   /ics/lad/test/java
JAVA_PATH        /opt/java1.4/jre/bin/java
WORK_PATH        /ics/lad/test/work
BIN_PATH         /ics/lad/test/bin
TEMP_PATH        /ics/lad/test/temp
LOGFILE          /ics/lad/test/log/ics_integration.log

SERVER           WODU003.AP.MARS
AMI_TIER         test
SYS_TIER         test
ENV_VAR          /usr/local/bin/ami_settier 
DATABASE        AP0052T
USERNAME        ics_app
PASSWORD        icsice

# Required for MFANZ
TARG_PATH        /ics/cdw/test/inbound
TARG_QMGR        WODU03T1
HK_TARG_PATH     /ics/lad/hk/test/inbound
HK_TARG_QMGR     WODU03T1

