
#--------------------------------------------------[mqs_trigger_WODU03T1.config]
#
# File    : mqs_trigger_WODU01P1.config
# Purpose : Configuration file for proxy between messages to files...
# Created : June 2004
# Author  : Don Arnison
#
# Modification History
#
# Version Name                  Date        Comments
# ------- ------------------ ----------- ---------------------------------------
# 1.0     Don Arnison        2004-Jun-22 Initial release
# 1.1     Stephen Gordon     2004-Aug-16 Changes for Megan Henderson
# 1.2     Megan Henderson    2004-Sep-30 Changed DJ var from 50 to 200
# 1.3     Megan Henderson    2004-Oct-08 MP2CIS08
# 1.4     Megan Henderson    2004-Nov-23 Setup for new TEST server WODY003
# 1.5     Linden Glen        2005-Feb-10 Setup Maxwells WMS interfaces
#                                        Setup Exel WMS interfaces
# 1.6     Linden Glen        2005-Feb-22 Removed ATLCIS03, replaced with ATLCIS03.1
# 1.7     Linden Glen        2005-Feb-28 Added QL.BALICS06 & QL.EX1ICS06
# 2.0     Linden Glen        2005-Sep-07 Added PET WH Queue definitions
# 2.1     Sunil Mandalika    2007-Jun-08 Changed QL.OUT.ATLLAD01 to QL.OUT.ATLLAD01.1 
# 2.2     Trevor Keon        2008-Feb-12 Changed to contain ICS interfaces only
#-------------------------------------------------------------------------------

# {Source Queue} {Script} {Queue} {Interface ID} {Interface ID} {FWD Q} {DJ STOP}
# -------------------------------------------

# TEST -------------------------------------------------------------------------

QL.OUT.ATLCIS01.1 = ics_inbound_dj.sh QL.OUT.ATLCIS01.1 ATLCIS01 ATLCIS01.1 *NONE "-count 200"
QL.OUT.ATLCIS01.2 = ics_passthru_dj.sh QL.OUT.ATLCIS01.2 ATLCIS01 ATLCIS01.2 "-count 50"
QL.OUT.ATLCIS01.3 = ics_passthru_dj.sh QL.OUT.ATLCIS01.3 ATLCIS01 ATLCIS01.3 "-count 50"
QL.OUT.ATLCIS01.4 = ics_passthru_dj.sh QL.OUT.ATLCIS01.4 ATLCIS01 ATLCIS01.4 "-count 50"
QL.OUT.ATLCIS03.1 = ics_passthru_dj.sh QL.OUT.ATLCIS03.1 ATLCIS03 ATLCIS03.1 "-count 50"
QL.OUT.ATLCIS03.2 = ics_passthru_dj.sh QL.OUT.ATLCIS03.2 ATLCIS03 ATLCIS03.2 "-count 50"
QL.OUT.ATLCIS03.3 = ics_passthru_dj.sh QL.OUT.ATLCIS03.3 ATLCIS03 ATLCIS03.3 "-count 50"
QL.OUT.ATLCIS04.1 = ics_inbound_dj.sh QL.OUT.ATLCIS04.1 ATLCIS04 ATLCIS04.1 *NONE "-count 200"
QL.OUT.ATLCIS04.2 = ics_passthru_dj.sh QL.OUT.ATLCIS04.2 ATLCIS04 ATLCIS04.2 "-count 1"
QL.OUT.ATLCIS04.3 = ics_inbound_dj.sh QL.OUT.ATLCIS04.3 ATLCIS04 ATLCIS04.3 *NONE "-count 1"
QL.OUT.ATLCIS04.4 = ics_passthru_dj.sh QL.OUT.ATLCIS04.4 ATLCIS04.4 ATLCIS04.4 "-count 1"
QL.OUT.ATLCIS05.1 = ics_inbound_dj.sh QL.OUT.ATLCIS05.1 ATLCIS05 ATLCIS05.1 *NONE "-count 200"
QL.OUT.ATLCIS05.2 = ics_passthru_dj.sh QL.OUT.ATLCIS05.2 ATLCIS05 ATLCIS05.2 "-count 50"
QL.OUT.ATLCIS05.3 = ics_passthru_dj.sh QL.OUT.ATLCIS05.3 ATLCIS05 ATLCIS05.3 "-count 50"
QL.OUT.ATLCIS05.21 = ics_passthru_dj.sh QL.OUT.ATLCIS05.21 ATLCIS05 ATLCIS05.21 *NONE "-count 200"
QL.OUT.ATLCIS06 = ics_inbound_dj.sh QL.OUT.ATLCIS06 ATLCIS06 ATLCIS06 *NONE "-count 50"

QL.OUT.ATLLAD01.1 = ics_inbound_dj.sh QL.OUT.ATLLAD01.1 ATLLAD01 ATLLAD01 *NONE "-count 500" *NO
QL.OUT.ATLLAD02.1 = ics_inbound_dj.sh QL.OUT.ATLLAD02.1 ATLLAD02 ATLLAD02 ATLODS02 "-count 200" *NO
QL.OUT.ATLLAD03.1 = ics_inbound_dj.sh QL.OUT.ATLLAD03.1 ATLLAD03 ATLLAD03 ATLODS03 "-count 200" *NO
QL.OUT.ATLLAD04.1 = ics_inbound_dj.sh QL.OUT.ATLLAD04.1 ATLLAD04 ATLLAD04 ATLODS04 "-count 200" *NO
QL.OUT.ATLLAD05.1 = ics_inbound_dj.sh QL.OUT.ATLLAD05.1 ATLLAD05 ATLLAD05 *NONE "-count 500" *NO
QL.OUT.ATLLAD06.1 = ics_inbound_dj.sh QL.OUT.ATLLAD06.1 ATLLAD06 ATLLAD06 ATLODS06 "-count 200" *NO
QL.OUT.ATLLAD07.1 = ics_inbound_dj.sh QL.OUT.ATLLAD07.1 ATLLAD07 ATLLAD07 ATLODS07 "-count 200" *NO
QL.OUT.ATLLAD08.1 = ics_inbound_dj.sh QL.OUT.ATLLAD08.1 ATLLAD08 ATLLAD08 ATLODS08 "-count 200" *NO
QL.OUT.ATLLAD09.1 = ics_inbound_dj.sh QL.OUT.ATLLAD09.1 ATLLAD09 ATLLAD09 ATLODS09 "-count 200" *NO
QL.OUT.ATLLAD10.1 = ics_inbound_dj.sh QL.OUT.ATLLAD10.1 ATLLAD10 ATLLAD10 ATLODS10 "-count 200" *NO
QL.OUT.ATLLAD11.1 = ics_inbound_dj.sh QL.OUT.ATLLAD11.1 ATLLAD11 ATLLAD11 ATLODS11 "-count 200" *NO
QL.OUT.ATLLAD12.1 = ics_inbound_dj.sh QL.OUT.ATLLAD12.1 ATLLAD12 ATLLAD12 ATLODS12 "-count 200" *NO
QL.OUT.ATLLAD13.1 = ics_inbound_dj.sh QL.OUT.ATLLAD13.1 ATLLAD13 ATLLAD13 ATLODS13 "-count 200" *NO
QL.OUT.ATLLAD14.1 = ics_inbound_dj.sh QL.OUT.ATLLAD14.1 ATLLAD14 ATLLAD14 *NONE "-count 500" *NO
QL.OUT.ATLLAD15.1 = ics_inbound_dj.sh QL.OUT.ATLLAD15.1 ATLLAD15 ATLLAD15 ATLODS15 "-count 200" *NO
QL.OUT.ATLLAD16.1 = ics_inbound_dj.sh QL.OUT.ATLLAD16.1 ATLLAD16 ATLLAD16 ATLODS16 "-count 200" *NO
QL.OUT.ATLLAD17.1 = ics_inbound_dj.sh QL.OUT.ATLLAD17.1 ATLLAD17 ATLLAD17 *NONE "-count 500" *NO
QL.OUT.ATLLAD18.1 = ics_inbound_dj.sh QL.OUT.ATLLAD18.1 ATLLAD18 ATLLAD18 ATLODS18 "-count 200" *NO
QL.OUT.ATLLAD19.1 = ics_inbound_dj.sh QL.OUT.ATLLAD19.1 ATLLAD19 ATLLAD19 ATLODS19 "-count 200" *NO
QL.OUT.ATLLAD20.1 = ics_inbound_dj.sh QL.OUT.ATLLAD20.1 ATLLAD20 ATLLAD20 ATLODS20 "-count 200" *NO
QL.OUT.ATLLAD21.1 = ics_inbound_dj.sh QL.OUT.ATLLAD21.1 ATLLAD21 ATLLAD21 ATLODS21 "-count 200" *NO
QL.OUT.ATLLAD22.1 = ics_inbound_dj.sh QL.OUT.ATLLAD22.1 ATLLAD22 ATLLAD22 ATLODS22 "-count 200" *NO
QL.OUT.ATLLAD23.1 = ics_inbound_dj.sh QL.OUT.ATLLAD23.1 ATLLAD23 ATLLAD23 ATLODS23 "-count 200" *NO
QL.OUT.ATLLAD25 = ics_inbound_dj.sh QL.OUT.ATLLAD25 ATLLAD25 ATLLAD25 *NONE "-count 200" *NO
QL.OUT.ATLLAD27.1 = ics_inbound_dj.sh QL.OUT.ATLLAD27.1 ATLLAD27 ATLLAD27 *NONE "-count 200" *NO
QL.OUT.ATLLAD28.1 = ics_inbound_dj.sh QL.OUT.ATLLAD28.1 ATLLAD28 ATLLAD28 ATLODS28 "-count 200" *NO
QL.OUT.ATLLAD29.1 = ics_inbound_dj.sh QL.OUT.ATLLAD29.1 ATLLAD29 ATLLAD29 ATLODS29 "-count 200" *NO
QL.OUT.ATLLAD30.1 = ics_inbound_dj.sh QL.OUT.ATLLAD30.1 ATLLAD30 ATLLAD30 ATLODS30 "-count 200" *NO

QL.OUT.HUBCIS01 = ics_inbound_dj.sh QL.OUT.HUBCIS01 HUBCIS01 HUBCIS01 *NONE "-count 200" *NO

# Production Planning & Scheduling
QL.CISATL15 = ics_passthru_mq.sh QL.CISATL15 CISATL15.1
QL.CISATL11 = ics_passthru_mq.sh QL.CISATL11 CISATL11
QL.PPSCIS01 = ics_inbound_mq.sh QL.PPSCIS01 PPSCIS01

# Purchase Orders (PO's) and Good Receipts (GR's) for application MP2
QL.MP2CIS01  = ics_passthru_mq.sh QL.MP2CIS01 CISATL01
QL.MP2CIS02  = ics_inbound_mq.sh QL.MP2CIS02 MP2CIS08

# Logistics inbound
QL.LOGCIS01 = ics_inbound_mq.sh QL.LOGCIS01 LOGCIS01 LOGCIS01
QL.LOGCIS02 = ics_passthru_mq.sh QL.LOGCIS02 CISATL18

# MFGPRO Inbound Invoice Vouchers to Atlas
QL.MFGCIS01 = ics_inbound_mq.sh QL.MFGCIS01 MFGCIS01 MFGCIS01
QL.MFGCIS02 = ics_passthru_mq.sh QL.MFGCIS02 CISATL02

# Customers 121 Order File
QL.OTOCIS01 = ics_passthru_mq.sh QL.OTOCIS01 CISATL10.1

# Tolas WMS interfaces
QL.TL1ICS01.TEST = ics_inbound_mq.sh QL.TL1ICS01.TEST WMSCISATL16
QL.TL1ICS02.TEST = ics_passthru_mq.sh QL.TL1ICS02.TEST CISATL13
QL.TL1ICS03.TEST = ics_passthru_mq.sh QL.TL1ICS03.TEST CISATL04
QL.TL1ICS04.TEST = ics_passthru_mq.sh QL.TL1ICS04.TEST CISATL05
QL.TL1ICS05.TEST = ics_passthru_mq.sh QL.TL1ICS05.TEST CISATL02
QL.TL1ICS06.TEST = ics_passthru_mq.sh QL.TL1ICS06.TEST CISATL06
QL.TL1ICS07.TEST = ics_passthru_mq.sh QL.TL1ICS07.TEST CISATL07
QL.TL1ICS08.TEST = ics_inbound_mq.sh QL.TL1ICS08.TEST WMSCIS01

# Maxwells WMS interfaces - L.Glen 10-02-2005
QL.BALICS01 = ics_inbound_mq.sh QL.BALICS01 WMSCISATL16.1
QL.BALICS02 = ics_passthru_mq.sh QL.BALICS02 CISATL13
QL.BALICS04 = ics_passthru_mq.sh QL.BALICS04 CISATL05
QL.BALICS05 = ics_passthru_mq.sh QL.BALICS05 CISATL02
QL.BALICS06 = ics_passthru_mq.sh QL.BALICS06 CISATL06
QL.BALICS07 = ics_passthru_mq.sh QL.BALICS07 CISATL07
QL.BALICS08 = ics_inbound_mq.sh QL.BALICS08 WMSCIS01.1

# Exel WMS interfaces - L.Glen 10-02-2005
QL.EX1ICS02 = ics_passthru_dj.sh QL.EX1ICS02 FLMFLF01 CISATL13 "-count 50"
QL.EX1ICS04 = ics_passthru_dj.sh QL.EX1ICS04 FLMFLF01 CISATL05 "-count 50"
QL.EX1ICS05 = ics_passthru_dj.sh QL.EX1ICS05 FLMFLF01 CISATL02 "-count 50"
QL.EX1ICS06 = ics_passthru_dj.sh QL.EX1ICS06 FLMFLF01 CISATL06 "-count 50"
QL.EX1ICS07 = ics_passthru_dj.sh QL.EX1ICS07 FLMFLF01 CISATL07 "-count 50"

# Added 15-Sep-04 by Stephen Gordon (CR: SEGN-64U3AS)
QL.CDWICS01 = ics_inbound_mq.sh QL.CDWICS01 CDWICS01
QL.CDWICS02 = ics_inbound_mq.sh QL.CDWICS02 CDWICS02

# Added 28-Sep-04 by Stephen Gordon (CR: MSHN-6525YA)
QL.KF1ICS01 = ics_inbound_mq.sh QL.KF1ICS01 WMSCISATL16
QL.KF1ICS02 = ics_passthru_mq.sh QL.KF1ICS02 CISATL13
QL.KF1ICS04 = ics_passthru_mq.sh QL.KF1ICS04 CISATL05
QL.KF1ICS05 = ics_passthru_mq.sh QL.KF1ICS05 CISATL02

# Additional NZ EXEL/MAXWELL/LINFOX Interfaces
QL.TL1ICS23.TEST = ics_passthru_mq.sh QL.TL1ICS23.TEST CISATL23
QL.BALICS23 = ics_passthru_mq.sh QL.BALICS23 CISATL23

QL.EX1ICS23 = ics_passthru_dj.sh QL.EX1ICS23 FLMFLF01 CISATL23 "-count 50"

# TOLAS PET WOD DOMESTIC (AU27) <-> ICS <-> ATLAS Interfaces
QL.TL2ICS01.TEST = ics_inbound_mq.sh QL.TL2ICS01.TEST WMSCISATL16.2
QL.TL2ICS02.TEST = ics_passthru_mq.sh QL.TL2ICS02.TEST CISATL13
QL.TL2ICS04.TEST = ics_passthru_mq.sh QL.TL2ICS04.TEST CISATL05
QL.TL2ICS05.TEST = ics_passthru_mq.sh QL.TL2ICS05.TEST CISATL02
QL.TL2ICS06.TEST = ics_passthru_mq.sh QL.TL2ICS06.TEST CISATL06
QL.TL2ICS08.TEST = ics_inbound_mq.sh QL.TL2ICS08.TEST WMSCIS01.2
QL.TL2ICS09.TEST = ics_passthru_mq.sh QL.TL2ICS09.TEST CISATL04
QL.TL2ICS10.TEST = ics_inbound_mq.sh QL.TL2ICS10.TEST WMSCIS02
QL.TL2ICS20.TEST = ics_passthru_mq.sh QL.TL2ICS20.TEST CISATL20
QL.TL2ICS21.TEST = ics_passthru_mq.sh QL.TL2ICS21.TEST CISATL21
QL.TL2ICS22.TEST = ics_passthru_mq.sh QL.TL2ICS22.TEST CISATL22
QL.TL2ICS24.TEST = ics_passthru_mq.sh QL.TL2ICS24.TEST CISATL24
QL.OUT.ATLCIS01.5 =  ics_inbound_dj.sh QL.OUT.ATLCIS01.5 ATLCIS01 ATLCIS01.5 *NONE "-count 50" *NO
QL.OUT.ATLCIS03.5 =  ics_passthru_dj.sh QL.OUT.ATLCIS03.5 ATLCIS03 ATLCIS03.5 "-count 50"
QL.OUT.ATLCIS04.5 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.5 ATLCIS04 ATLCIS04.5 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.5 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.5 ATLCIS05 ATLCIS05.5 *NONE "-count 50" *NO
QL.OUT.ATLCIS07.5 =  ics_inbound_dj.sh QL.OUT.ATLCIS07.5 ATLCIS07 ATLCIS07.5 *NONE "-count 50" *NO
QL.OUT.ATLCIS08.5 =  ics_inbound_dj.sh QL.OUT.ATLCIS08.5 ATLCIS08 ATLCIS08.5 *NONE "-count 50" *NO

# TOLAS PET BTH DOMESTIC (AU33) <-> ICS Interfaces
QL.TL3ICS01.TEST = ics_inbound_mq.sh QL.TL3ICS01.TEST WMSCISATL16.2
QL.TL3ICS02.TEST = ics_passthru_mq.sh QL.TL3ICS02.TEST CISATL13
QL.TL3ICS04.TEST = ics_passthru_mq.sh QL.TL3ICS04.TEST CISATL05
QL.TL3ICS05.TEST = ics_passthru_mq.sh QL.TL3ICS05.TEST CISATL02
QL.TL3ICS06.TEST = ics_passthru_mq.sh QL.TL3ICS06.TEST CISATL06
QL.TL3ICS08.TEST = ics_inbound_mq.sh QL.TL3ICS08.TEST WMSCIS01.2
QL.TL3ICS09.TEST = ics_passthru_mq.sh QL.TL3ICS09.TEST CISATL04
QL.TL3ICS10.TEST = ics_inbound_mq.sh QL.TL3ICS10.TEST WMSCIS02
QL.TL3ICS20.TEST = ics_passthru_mq.sh QL.TL3ICS20.TEST CISATL20
QL.TL3ICS21.TEST = ics_passthru_mq.sh QL.TL3ICS21.TEST CISATL21
QL.TL3ICS22.TEST = ics_passthru_mq.sh QL.TL3ICS22.TEST CISATL22
QL.TL3ICS24.TEST = ics_passthru_mq.sh QL.TL3ICS24.TEST CISATL24
QL.OUT.ATLCIS01.6 =  ics_inbound_dj.sh QL.OUT.ATLCIS01.6 ATLCIS01 ATLCIS01.6 *NONE "-count 50" *NO
QL.OUT.ATLCIS03.6 =  ics_passthru_dj.sh QL.OUT.ATLCIS03.6 ATLCIS03 ATLCIS03.6 "-count 50"
QL.OUT.ATLCIS04.6 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.6 ATLCIS04 ATLCIS04.6 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.6 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.6 ATLCIS05 ATLCIS05.6 *NONE "-count 50" *NO
QL.OUT.ATLCIS07.6 =  ics_inbound_dj.sh QL.OUT.ATLCIS07.6 ATLCIS07 ATLCIS07.6 *NONE "-count 50" *NO
QL.OUT.ATLCIS08.6 =  ics_inbound_dj.sh QL.OUT.ATLCIS08.6 ATLCIS08 ATLCIS08.6 *NONE "-count 50" *NO

# TOLAS PET WOD EXPORT (AU26) <-> ICS Interfaces
QL.TL4ICS01.TEST = ics_inbound_mq.sh QL.TL4ICS01.TEST WMSCISATL16.2
QL.TL4ICS02.TEST = ics_passthru_mq.sh QL.TL4ICS02.TEST CISATL13
QL.TL4ICS04.TEST = ics_passthru_mq.sh QL.TL4ICS04.TEST CISATL05
QL.TL4ICS05.TEST = ics_passthru_mq.sh QL.TL4ICS05.TEST CISATL02
QL.TL4ICS06.TEST = ics_passthru_mq.sh QL.TL4ICS06.TEST CISATL06
QL.TL4ICS08.TEST = ics_inbound_mq.sh QL.TL4ICS08.TEST WMSCIS01.2
QL.TL4ICS09.TEST = ics_passthru_mq.sh QL.TL4ICS09.TEST CISATL04
QL.TL4ICS10.TEST = ics_inbound_mq.sh QL.TL4ICS10.TEST WMSCIS02
QL.TL4ICS20.TEST = ics_passthru_mq.sh QL.TL4ICS20.TEST CISATL20
QL.TL4ICS21.TEST = ics_passthru_mq.sh QL.TL4ICS21.TEST CISATL21
QL.TL4ICS22.TEST = ics_passthru_mq.sh QL.TL4ICS22.TEST CISATL22
QL.TL4ICS24.TEST = ics_passthru_mq.sh QL.TL4ICS24.TEST CISATL24
QL.OUT.ATLCIS01.7 =  ics_inbound_dj.sh QL.OUT.ATLCIS01.7 ATLCIS01 ATLCIS01.7 *NONE "-count 50" *NO
QL.OUT.ATLCIS03.7 =  ics_passthru_dj.sh QL.OUT.ATLCIS03.7 ATLCIS03 ATLCIS03.7 "-count 50"
QL.OUT.ATLCIS04.7 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.7 ATLCIS04 ATLCIS04.7 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.7 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.7 ATLCIS05 ATLCIS05.7 *NONE "-count 50" *NO
QL.OUT.ATLCIS07.7 =  ics_inbound_dj.sh QL.OUT.ATLCIS07.7 ATLCIS07 ATLCIS07.7 *NONE "-count 50" *NO
QL.OUT.ATLCIS08.7 =  ics_inbound_dj.sh QL.OUT.ATLCIS08.7 ATLCIS08 ATLCIS08.7 *NONE "-count 50" *NO

# TOLAS PET BTH EXPORT (AU32) <-> ICS Interfaces
QL.TL5ICS01.TEST = ics_inbound_mq.sh QL.TL5ICS01.TEST WMSCISATL16.2
QL.TL5ICS02.TEST = ics_passthru_mq.sh QL.TL5ICS02.TEST CISATL13
QL.TL5ICS04.TEST = ics_passthru_mq.sh QL.TL5ICS04.TEST CISATL05
QL.TL5ICS05.TEST = ics_passthru_mq.sh QL.TL5ICS05.TEST CISATL02
QL.TL5ICS06.TEST = ics_passthru_mq.sh QL.TL5ICS06.TEST CISATL06
QL.TL5ICS08.TEST = ics_inbound_mq.sh QL.TL5ICS08.TEST WMSCIS01.2
QL.TL5ICS09.TEST = ics_passthru_mq.sh QL.TL5ICS09.TEST CISATL04
QL.TL5ICS10.TEST = ics_inbound_mq.sh QL.TL5ICS10.TEST WMSCIS02
QL.TL5ICS20.TEST = ics_passthru_mq.sh QL.TL5ICS20.TEST CISATL20
QL.TL5ICS21.TEST = ics_passthru_mq.sh QL.TL5ICS21.TEST CISATL21
QL.TL5ICS22.TEST = ics_passthru_mq.sh QL.TL5ICS22.TEST CISATL22
QL.TL5ICS24.TEST = ics_passthru_mq.sh QL.TL5ICS24.TEST CISATL24
QL.OUT.ATLCIS01.8 =  ics_inbound_dj.sh QL.OUT.ATLCIS01.8 ATLCIS01 ATLCIS01.8 *NONE "-count 50" *NO
QL.OUT.ATLCIS03.8 =  ics_passthru_dj.sh QL.OUT.ATLCIS03.8 ATLCIS03 ATLCIS03.8 "-count 50"
QL.OUT.ATLCIS04.8 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.8 ATLCIS04 ATLCIS04.8 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.8 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.8 ATLCIS05 ATLCIS05.8 *NONE "-count 50" *NO
QL.OUT.ATLCIS07.8 =  ics_inbound_dj.sh QL.OUT.ATLCIS07.8 ATLCIS07 ATLCIS07.8 *NONE "-count 50" *NO
QL.OUT.ATLCIS08.8 =  ics_inbound_dj.sh QL.OUT.ATLCIS08.8 ATLCIS08 ATLCIS08.8 *NONE "-count 50" *NO

# TOLAS PET WOD FACTORY DESPATCH (AU20) <-> ICS Interfaces
QL.TL6ICS01.TEST = ics_inbound_mq.sh QL.TL6ICS01.TEST WMSCISATL16.2
QL.TL6ICS02.TEST = ics_passthru_mq.sh QL.TL6ICS02.TEST CISATL13
QL.TL6ICS04.TEST = ics_passthru_mq.sh QL.TL6ICS04.TEST CISATL05
QL.TL6ICS05.TEST = ics_passthru_mq.sh QL.TL6ICS05.TEST CISATL02
QL.TL6ICS06.TEST = ics_passthru_mq.sh QL.TL6ICS06.TEST CISATL06
QL.TL6ICS08.TEST = ics_inbound_mq.sh QL.TL6ICS08.TEST WMSCIS01.2
QL.TL6ICS09.TEST = ics_passthru_mq.sh QL.TL6ICS09.TEST CISATL04
QL.TL6ICS10.TEST = ics_inbound_mq.sh QL.TL6ICS10.TEST WMSCIS02
QL.TL6ICS20.TEST = ics_passthru_mq.sh QL.TL6ICS20.TEST CISATL20
QL.TL6ICS21.TEST = ics_passthru_mq.sh QL.TL6ICS21.TEST CISATL21
QL.TL6ICS22.TEST = ics_passthru_mq.sh QL.TL6ICS22.TEST CISATL22
QL.TL6ICS24.TEST = ics_passthru_mq.sh QL.TL6ICS24.TEST CISATL24
QL.OUT.ATLCIS01.9 =  ics_inbound_dj.sh QL.OUT.ATLCIS01.9 ATLCIS01 ATLCIS01.9 *NONE "-count 50" *NO
QL.OUT.ATLCIS03.9 =  ics_passthru_dj.sh QL.OUT.ATLCIS03.9 ATLCIS03 ATLCIS03.9 "-count 50"
QL.OUT.ATLCIS04.9 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.9 ATLCIS04 ATLCIS04.9 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.9 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.9 ATLCIS05 ATLCIS05.9 *NONE "-count 50" *NO
QL.OUT.ATLCIS07.9 =  ics_inbound_dj.sh QL.OUT.ATLCIS07.9 ATLCIS07 ATLCIS07.9 *NONE "-count 50" *NO
QL.OUT.ATLCIS08.9 =  ics_inbound_dj.sh QL.OUT.ATLCIS08.9 ATLCIS08 ATLCIS08.9 *NONE "-count 50" *NO

# TOLAS PET BTH FACTORY DESPATCH (AU30) <-> ICS Interfaces
QL.TL7ICS01.TEST = ics_inbound_mq.sh QL.TL7ICS01.TEST WMSCISATL16.2
QL.TL7ICS02.TEST = ics_passthru_mq.sh QL.TL7ICS02.TEST CISATL13
QL.TL7ICS04.TEST = ics_passthru_mq.sh QL.TL7ICS04.TEST CISATL05
QL.TL7ICS05.TEST = ics_passthru_mq.sh QL.TL7ICS05.TEST CISATL02
QL.TL7ICS06.TEST = ics_passthru_mq.sh QL.TL7ICS06.TEST CISATL06
QL.TL7ICS08.TEST = ics_inbound_mq.sh QL.TL7ICS08.TEST WMSCIS01.2
QL.TL7ICS09.TEST = ics_passthru_mq.sh QL.TL7ICS09.TEST CISATL04
QL.TL7ICS10.TEST = ics_inbound_mq.sh QL.TL7ICS10.TEST WMSCIS02
QL.TL7ICS20.TEST = ics_passthru_mq.sh QL.TL7ICS20.TEST CISATL20
QL.TL7ICS21.TEST = ics_passthru_mq.sh QL.TL7ICS21.TEST CISATL21
QL.TL7ICS22.TEST = ics_passthru_mq.sh QL.TL7ICS22.TEST CISATL22
QL.TL7ICS24.TEST = ics_passthru_mq.sh QL.TL7ICS24.TEST CISATL24
QL.OUT.ATLCIS01.10 =  ics_inbound_dj.sh QL.OUT.ATLCIS01.10 ATLCIS01 ATLCIS01.10 *NONE "-count 50" *NO
QL.OUT.ATLCIS03.10 =  ics_passthru_dj.sh QL.OUT.ATLCIS03.10 ATLCIS03 ATLCIS03.10 "-count 50"
QL.OUT.ATLCIS04.10 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.10 ATLCIS04 ATLCIS04.10 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.10 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.10 ATLCIS05 ATLCIS05.10 *NONE "-count 50" *NO
QL.OUT.ATLCIS07.10 =  ics_inbound_dj.sh QL.OUT.ATLCIS07.10 ATLCIS07 ATLCIS07.10 *NONE "-count 50" *NO
QL.OUT.ATLCIS08.10 =  ics_inbound_dj.sh QL.OUT.ATLCIS08.10 ATLCIS08 ATLCIS08.10 *NONE "-count 50" *NO

# TOLAS PET SINGLE SERVE FACTORY DESP (AU25) <-> ICS Interfaces
QL.TL8ICS01.TEST = ics_inbound_mq.sh QL.TL8ICS01.TEST WMSCISATL16.2
QL.TL8ICS02.TEST = ics_passthru_mq.sh QL.TL8ICS02.TEST CISATL13
QL.TL8ICS04.TEST = ics_passthru_mq.sh QL.TL8ICS04.TEST CISATL05
QL.TL8ICS05.TEST = ics_passthru_mq.sh QL.TL8ICS05.TEST CISATL02
QL.TL8ICS06.TEST = ics_passthru_mq.sh QL.TL8ICS06.TEST CISATL06
QL.TL8ICS08.TEST = ics_inbound_mq.sh QL.TL8ICS08.TEST WMSCIS01.2
QL.TL8ICS09.TEST = ics_passthru_mq.sh QL.TL8ICS09.TEST CISATL04
QL.TL8ICS10.TEST = ics_inbound_mq.sh QL.TL8ICS10.TEST WMSCIS02
QL.TL8ICS20.TEST = ics_passthru_mq.sh QL.TL8ICS20.TEST CISATL20
QL.TL8ICS21.TEST = ics_passthru_mq.sh QL.TL8ICS21.TEST CISATL21
QL.TL8ICS22.TEST = ics_passthru_mq.sh QL.TL8ICS22.TEST CISATL22
QL.TL8ICS24.TEST = ics_passthru_mq.sh QL.TL8ICS24.TEST CISATL24
QL.OUT.ATLCIS01.11 =  ics_inbound_dj.sh QL.OUT.ATLCIS01.11 ATLCIS01 ATLCIS01.11 *NONE "-count 50" *NO
QL.OUT.ATLCIS03.11 =  ics_passthru_dj.sh QL.OUT.ATLCIS03.11 ATLCIS03 ATLCIS03.11 "-count 50"
QL.OUT.ATLCIS04.11 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.11 ATLCIS04 ATLCIS04.11 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.11 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.11 ATLCIS05 ATLCIS05.11 *NONE "-count 50" *NO
QL.OUT.ATLCIS07.11 =  ics_passthru_dj.sh QL.OUT.ATLCIS07.11 ATLCIS07 ATLCIS07.11 "-count 50"
QL.OUT.ATLCIS08.11 =  ics_inbound_dj.sh QL.OUT.ATLCIS08.11 ATLCIS08 ATLCIS08.11 *NONE "-count 50" *NO

# ASN DC Interfaces/Queues
QL.TOLASN02.TEST = ics_inbound_mq.sh QL.TOLASN02.TEST TOLASN02
QL.TOLASN05.TEST = ics_inbound_mq.sh QL.TOLASN05.TEST TOLASN05
QL.TOLASN06.TEST = ics_inbound_mq.sh QL.TOLASN06.TEST TOLASN06

# TOLAS PET RANCHO INBOUND (AU24) <-> ICS Interfaces
QL.TL9ICS02.TEST = ics_passthru_mq.sh QL.TL9ICS02.TEST CISATL13
QL.TL9ICS04.TEST = ics_passthru_mq.sh QL.TL9ICS04.TEST CISATL05
QL.TL9ICS05.TEST = ics_passthru_mq.sh QL.TL9ICS05.TEST CISATL02
QL.TL9ICS23.TEST = ics_passthru_mq.sh QL.TL9ICS23.TEST CISATL23
QL.TL9ICS01.TEST = ics_inbound_mq.sh QL.TL9ICS01.TEST WMSCISATL16.2
QL.TL9ICS08.TEST = ics_inbound_mq.sh QL.TL9ICS08.TEST WMSCIS01.2
QL.TL9ICS07.TEST = ics_passthru_mq.sh QL.TL9ICS07.TEST CISATL26

# TOLAS PET DAWSONS INBOUND (AU34)
QL.TLAICS02.TEST = ics_passthru_mq.sh QL.TLAICS02.TEST CISATL13
QL.TLAICS04.TEST = ics_passthru_mq.sh QL.TLAICS04.TEST CISATL05
QL.TLAICS05.TEST = ics_passthru_mq.sh QL.TLAICS05.TEST CISATL02
QL.TLAICS23.TEST = ics_passthru_mq.sh QL.TLAICS23.TEST CISATL23
QL.TLAICS01.TEST = ics_inbound_mq.sh QL.TLAICS01.TEST WMSCISATL16.2
QL.TLAICS08.TEST = ics_inbound_mq.sh QL.TLAICS08.TEST WMSCIS01.2
QL.TLAICS07.TEST = ics_passthru_mq.sh QL.TLAICS07.TEST CISATL26

QL.OUT.ATLCIS04.13 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.13 ATLCIS04 ATLCIS04.13 *NONE "-count 50" *NO
QL.OUT.ATLCIS04.14 =  ics_inbound_dj.sh QL.OUT.ATLCIS04.14 ATLCIS04 ATLCIS04.14 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.13 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.13 ATLCIS05 ATLCIS05.13 *NONE "-count 50" *NO
QL.OUT.ATLCIS05.14 =  ics_inbound_dj.sh QL.OUT.ATLCIS05.14 ATLCIS05 ATLCIS05.14 *NONE "-count 50" *NO

#TOLAS PET WOD RANCHO (AU24) and DAWSONS (AU34) <-> ICS Interfaces
QL.OUT.ATLCIS09.1 = ics_inbound_dj.sh QL.OUT.ATLCIS09.1 ATLCIS09 ATLCIS09.1 *NONE "-count 50" *NO
QL.OUT.ATLCIS09.2 = ics_inbound_dj.sh QL.OUT.ATLCIS09.2 ATLCIS09 ATLCIS09.2 *NONE "-count 50" *NO
QL.OUT.ATLCIS09.3 = ics_inbound_dj.sh QL.OUT.ATLCIS09.3 ATLCIS09 ATLCIS09.3 *NONE "-count 50" *NO

QL.OUT.ATLCIS09.5 = ics_inbound_dj.sh QL.OUT.ATLCIS09.5 ATLCIS09 ATLCIS09.5 *NONE "-count 50" *NO

QL.ICSTL908.TEST = ics_inbound_mq.sh QL.ICSTL908.TEST WMSCIS01.2
QL.ICSTLA08.TEST = ics_inbound_mq.sh QL.ICSTLA08.TEST WMSCIS01.2

#Tolas Snack MCA Factory Despatch -> ICS - AU40-FG
QL.TLBICS05.TEST = ics_passthru_mq.sh QL.TLBICS05.TEST CISATL02
QL.TLBICS09.TEST = ics_passthru_mq.sh QL.TLBICS09.TEST CISATL04
QL.TLBICS06.TEST = ics_passthru_mq.sh QL.TLBICS06.TEST CISATL06
QL.TLBICS20.TEST = ics_passthru_mq.sh QL.TLBICS20.TEST CISATL20
QL.TLBICS21.TEST = ics_passthru_mq.sh QL.TLBICS21.TEST CISATL21
QL.TLBICS22.TEST = ics_passthru_mq.sh QL.TLBICS22.TEST CISATL22
QL.TLBICS24.TEST = ics_passthru_mq.sh QL.TLBICS24.TEST CISATL24
QL.TLBICS01.TEST = ics_inbound_mq.sh QL.TLBICS01.TEST WMSCISATL16.3
QL.TLBICS08.TEST = ics_inbound_mq.sh QL.TLBICS08.TEST WMSCIS01.3
QL.TLBICS10.TEST = ics_inbound_mq.sh QL.TLBICS10.TEST WMSCIS02.3

#Tolas Snack Somerton  (Linfox)-> ICS - AU41-FG
QL.TLCICS05.TEST = ics_passthru_mq.sh QL.TLCICS05.TEST CISATL02
QL.TLCICS09.TEST = ics_passthru_mq.sh QL.TLCICS09.TEST CISATL04
QL.TLCICS06.TEST = ics_passthru_mq.sh QL.TLCICS06.TEST CISATL06
QL.TLCICS20.TEST = ics_passthru_mq.sh QL.TLCICS20.TEST CISATL20
QL.TLCICS21.TEST = ics_passthru_mq.sh QL.TLCICS21.TEST CISATL21
QL.TLCICS22.TEST = ics_passthru_mq.sh QL.TLCICS22.TEST CISATL22
QL.TLCICS24.TEST = ics_passthru_mq.sh QL.TLCICS24.TEST CISATL24
QL.TLCICS01.TEST = ics_inbound_mq.sh QL.TLCICS01.TEST WMSCISATL16.3
QL.TLCICS08.TEST = ics_inbound_mq.sh QL.TLCICS08.TEST WMSCIS01.3
QL.TLCICS10.TEST = ics_inbound_mq.sh QL.TLCICS10.TEST WMSCIS02.3

#Tolas Snack Linfox Ballarat -> ICS - AU42-FG
QL.TLDICS05.TEST = ics_passthru_mq.sh QL.TLDICS05.TEST CISATL02
QL.TLDICS09.TEST = ics_passthru_mq.sh QL.TLDICS09.TEST CISATL04
QL.TLDICS06.TEST = ics_passthru_mq.sh QL.TLDICS06.TEST CISATL06
QL.TLDICS20.TEST = ics_passthru_mq.sh QL.TLDICS20.TEST CISATL20
QL.TLDICS21.TEST = ics_passthru_mq.sh QL.TLDICS21.TEST CISATL21
QL.TLDICS22.TEST = ics_passthru_mq.sh QL.TLDICS22.TEST CISATL22
QL.TLDICS24.TEST = ics_passthru_mq.sh QL.TLDICS24.TEST CISATL24
QL.TLDICS01.TEST = ics_inbound_mq.sh QL.TLDICS01.TEST WMSCISATL16.3
QL.TLDICS08.TEST = ics_inbound_mq.sh QL.TLDICS08.TEST WMSCIS01.3
QL.TLDICS10.TEST = ics_inbound_mq.sh QL.TLDICS10.TEST WMSCIS02.3

#Tolas Snack Scoresby factory -> ICS (AU45-FG)
QL.TLEICS05.TEST = ics_passthru_mq.sh QL.TLEICS05.TEST CISATL02
QL.TLEICS09.TEST = ics_passthru_mq.sh QL.TLEICS09.TEST CISATL04
QL.TLEICS06.TEST = ics_passthru_mq.sh QL.TLEICS06.TEST CISATL06
QL.TLEICS20.TEST = ics_passthru_mq.sh QL.TLEICS20.TEST CISATL20
QL.TLEICS21.TEST = ics_passthru_mq.sh QL.TLEICS21.TEST CISATL21
QL.TLEICS22.TEST = ics_passthru_mq.sh QL.TLEICS22.TEST CISATL22
QL.TLEICS24.TEST = ics_passthru_mq.sh QL.TLEICS24.TEST CISATL24
QL.TLEICS01.TEST = ics_inbound_mq.sh QL.TLEICS01.TEST WMSCISATL16.3
QL.TLEICS08.TEST = ics_inbound_mq.sh QL.TLEICS08.TEST WMSCIS01.3
QL.TLEICS10.TEST = ics_inbound_mq.sh QL.TLEICS10.TEST WMSCIS02.3

#Tolas Snack Linfox Somerton INBOUND -> ICS  - AU41 - R&Ps
QL.TLFICS02.TEST = ics_passthru_mq.sh QL.TLFICS02.TEST CISATL13
QL.TLFICS04.TEST = ics_passthru_mq.sh QL.TLFICS04.TEST CISATL05
QL.TLFICS05.TEST = ics_passthru_mq.sh QL.TLFICS05.TEST CISATL02
QL.TLFICS23.TEST = ics_passthru_mq.sh QL.TLFICS23.TEST CISATL23
QL.TLFICS01.TEST = ics_inbound_mq.sh QL.TLFICS01.TEST WMSCISATL16.3
QL.TLFICS08.TEST = ics_inbound_mq.sh QL.TLFICS08.TEST WMSCIS01.3
QL.TLFICS07.TEST = ics_passthru_mq.sh QL.TLFICS07.TEST CISATL26
QL.TLFICS09.TEST = ics_passthru_mq.sh QL.TLFICS09.TEST CISATL04

#Tolas Snack Linfox Ballarat INBOUND -> ICS  - AU24 - R&Ps
QL.TLGICS02.TEST = ics_passthru_mq.sh QL.TLGICS02.TEST CISATL13
QL.TLGICS04.TEST = ics_passthru_mq.sh QL.TLGICS04.TEST CISATL05
QL.TLGICS05.TEST = ics_passthru_mq.sh QL.TLGICS05.TEST CISATL02
QL.TLGICS23.TEST = ics_passthru_mq.sh QL.TLGICS23.TEST CISATL23
QL.TLGICS01.TEST = ics_inbound_mq.sh QL.TLGICS01.TEST WMSCISATL16.3
QL.TLGICS08.TEST = ics_inbound_mq.sh QL.TLGICS08.TEST WMSCIS01.3
QL.TLGICS07.TEST = ics_passthru_mq.sh QL.TLGICS07.TEST CISATL26
QL.TLGICS09.TEST = ics_passthru_mq.sh QL.TLGICS09.TEST CISATL04

# Tolas Snack MCA FD (AU40-FG)
QL.OUT.ATLCIS04.15 = ics_inbound_dj.sh QL.OUT.ATLCIS04.15 ATLCIS04 ATLCIS04.15 *NONE "-count 200"
QL.OUT.ATLCIS01.15 = ics_inbound_dj.sh QL.OUT.ATLCIS01.15 ATLCIS01 ATLCIS01.15 *NONE "-count 200"
QL.OUT.ATLCIS05.15 = ics_inbound_dj.sh QL.OUT.ATLCIS05.15 ATLCIS05 ATLCIS05.15 *NONE "-count 200"
QL.OUT.ATLCIS03.15 = ics_inbound_dj.sh QL.OUT.ATLCIS03.15 ATLCIS03 ATLCIS03.15 *NONE "-count 200"
QL.OUT.ATLCIS07.15 = ics_inbound_dj.sh QL.OUT.ATLCIS07.15 ATLCIS07 ATLCIS07.15 *NONE "-count 200"
QL.OUT.ATLCIS08.15 = ics_inbound_dj.sh QL.OUT.ATLCIS08.15 ATLCIS08 ATLCIS08.15 *NONE "-count 200"

# Tolas Snack Somerton (Linfox) (AU42-FG)
QL.OUT.ATLCIS04.16 = ics_inbound_dj.sh QL.OUT.ATLCIS04.16 ATLCIS04 ATLCIS04.16 *NONE "-count 200"
QL.OUT.ATLCIS01.16 = ics_inbound_dj.sh QL.OUT.ATLCIS01.16 ATLCIS01 ATLCIS01.16 *NONE "-count 200"
QL.OUT.ATLCIS05.16 = ics_inbound_dj.sh QL.OUT.ATLCIS05.16 ATLCIS05 ATLCIS05.16 *NONE "-count 200"
QL.OUT.ATLCIS03.16 = ics_inbound_dj.sh QL.OUT.ATLCIS03.16 ATLCIS03 ATLCIS03.16 *NONE "-count 200"
QL.OUT.ATLCIS07.16 = ics_inbound_dj.sh QL.OUT.ATLCIS07.16 ATLCIS07 ATLCIS07.16 *NONE "-count 200"
QL.OUT.ATLCIS08.16 = ics_inbound_dj.sh QL.OUT.ATLCIS08.16 ATLCIS08 ATLCIS08.16 *NONE "-count 200"

# Tolas Snack Somerton (Linfox) (AU41-FG)
QL.OUT.ATLCIS04.17 = ics_inbound_dj.sh QL.OUT.ATLCIS04.17 ATLCIS04 ATLCIS04.17 *NONE "-count 200"
QL.OUT.ATLCIS01.17 = ics_inbound_dj.sh QL.OUT.ATLCIS01.17 ATLCIS01 ATLCIS01.17 *NONE "-count 200"
QL.OUT.ATLCIS05.17 = ics_inbound_dj.sh QL.OUT.ATLCIS05.17 ATLCIS05 ATLCIS05.17 *NONE "-count 200"
QL.OUT.ATLCIS03.17 = ics_inbound_dj.sh QL.OUT.ATLCIS03.17 ATLCIS03 ATLCIS03.17 *NONE "-count 200"
QL.OUT.ATLCIS07.17 = ics_inbound_dj.sh QL.OUT.ATLCIS07.17 ATLCIS07 ATLCIS07.17 *NONE "-count 200"
QL.OUT.ATLCIS08.17 = ics_inbound_dj.sh QL.OUT.ATLCIS08.17 ATLCIS08 ATLCIS08.17 *NONE "-count 200"

# Tolas Snack Somerton (Linfox) (AU45-FG)
QL.OUT.ATLCIS04.18 = ics_inbound_dj.sh QL.OUT.ATLCIS04.18 ATLCIS04 ATLCIS04.18 *NONE "-count 200"
QL.OUT.ATLCIS01.18 = ics_inbound_dj.sh QL.OUT.ATLCIS01.18 ATLCIS01 ATLCIS01.18 *NONE "-count 200"
QL.OUT.ATLCIS05.18 = ics_inbound_dj.sh QL.OUT.ATLCIS05.18 ATLCIS05 ATLCIS05.18 *NONE "-count 200"
QL.OUT.ATLCIS03.18 = ics_inbound_dj.sh QL.OUT.ATLCIS03.18 ATLCIS03 ATLCIS03.18 *NONE "-count 200"
QL.OUT.ATLCIS07.18 = ics_inbound_dj.sh QL.OUT.ATLCIS07.18 ATLCIS07 ATLCIS07.18 *NONE "-count 200"
QL.OUT.ATLCIS08.18 = ics_inbound_dj.sh QL.OUT.ATLCIS08.18 ATLCIS08 ATLCIS08.18 *NONE "-count 200"

# Tolas Snack Somerton (Linfox) (AU42-R&P)
QL.OUT.ATLCIS04.19 = ics_inbound_dj.sh QL.OUT.ATLCIS04.19 ATLCIS04 ATLCIS04.19 *NONE "-count 200"
QL.OUT.ATLCIS05.19 = ics_inbound_dj.sh QL.OUT.ATLCIS05.19 ATLCIS05 ATLCIS05.19 *NONE "-count 200"
QL.OUT.ATLCIS09.3 = ics_inbound_dj.sh QL.OUT.ATLCIS09.3 ATLCIS09 ATLCIS09.3 *NONE "-count 200"


# Tolas Snack Somerton (Linfox) (AU41-R&P)
QL.OUT.ATLCIS04.20 = ics_inbound_dj.sh QL.OUT.ATLCIS04.20 ATLCIS04 ATLCIS04.20 *NONE "-count 200"
QL.OUT.ATLCIS05.20 = ics_inbound_dj.sh QL.OUT.ATLCIS05.20 ATLCIS05 ATLCIS05.20 *NONE "-count 200"
QL.OUT.ATLCIS09.4 = ics_inbound_dj.sh QL.OUT.ATLCIS09.4 ATLCIS09 ATLCIS09.4 *NONE "-count 200"

# Tolas Snack to BW Interfaces
QL.TOLBPP01.TEST = ics_passthru_mq.sh QL.TOLBPP01.TEST TOLBPP01
QL.TOLBPP02.TEST = ics_passthru_mq.sh QL.TOLBPP02.TEST TOLBPP02
