
#--------------------------------------------------[mqs_trigger_APQM002P.config]
#
# File    : mqs_trigger_APQM002P.config
# Purpose : Configuration file for proxy between messages to files...
# Created : October 2005
# Author  : Megan Henderson
#
# Modification History
#
# Version Name                  Date        Comments
# ------- ------------------ ----------- ---------------------------------------
# 1.0     Megan Henderson    2005-Oct-04 Configured for ICS-Promax
# 1.1     Trevor Keon        2008-Feb-19 Updated DJ params
#-------------------------------------------------------------------------------

# {Source Queue} {Script} {Queue} {Interface ID} {Interface ID} {FWD Q} {DJ STOP}
# -------------------------------------------

# PROD -------------------------------------------------------------------------

QL.OUT.ATLLAD01.5 = ics_inbound_dj.sh QL.OUT.ATLLAD01.5 ATLLAD01 ATLLAD01 *NONE "-count 200" *NO
QL.OUT.ATLLAD02.5 = ics_inbound_dj.sh QL.OUT.ATLLAD02.5 ATLLAD02 ATLLAD02 *NONE "-count 200" *NO
QL.OUT.ATLLAD03.5 = ics_inbound_dj.sh QL.OUT.ATLLAD03.5 ATLLAD03 ATLLAD03 *NONE "-count 200" *NO
QL.OUT.ATLLAD04.5 = ics_inbound_dj.sh QL.OUT.ATLLAD04.5 ATLLAD04 ATLLAD04 *NONE "-count 200" *NO
QL.OUT.ATLLAD05.5 = ics_inbound_dj.sh QL.OUT.ATLLAD05.5 ATLLAD05 ATLLAD05 *NONE "-count 500" *NO
QL.OUT.ATLLAD06.5 = ics_inbound_dj.sh QL.OUT.ATLLAD06.5 ATLLAD06 ATLLAD06 *NONE "-count 200" *NO
QL.OUT.ATLLAD07.5 = ics_inbound_dj.sh QL.OUT.ATLLAD07.5 ATLLAD07 ATLLAD07 *NONE "-count 200" *NO
QL.OUT.ATLLAD08.5 = ics_inbound_dj.sh QL.OUT.ATLLAD08.5 ATLLAD08 ATLLAD08 *NONE "-count 200" *NO
QL.OUT.ATLLAD09.5 = ics_inbound_dj.sh QL.OUT.ATLLAD09.5 ATLLAD09 ATLLAD09 *NONE "-count 200" *NO
QL.OUT.ATLLAD10.5 = ics_inbound_dj.sh QL.OUT.ATLLAD10.5 ATLLAD10 ATLLAD10 *NONE "-count 200" *NO
QL.OUT.ATLLAD11.5 = ics_inbound_dj.sh QL.OUT.ATLLAD11.5 ATLLAD11 ATLLAD11 *NONE "-count 800" *NO
QL.OUT.ATLLAD12.5 = ics_inbound_dj.sh QL.OUT.ATLLAD12.5 ATLLAD12 ATLLAD12 *NONE "-count 200" *NO
QL.OUT.ATLLAD13.5 = ics_inbound_dj.sh QL.OUT.ATLLAD13.5 ATLLAD13 ATLLAD13 *NONE "-count 200" *NO
QL.OUT.ATLLAD14.5 = ics_inbound_dj.sh QL.OUT.ATLLAD14.5 ATLLAD14 ATLLAD14 *NONE "-count 500" *NO
QL.OUT.ATLLAD15.5 = ics_inbound_dj.sh QL.OUT.ATLLAD15.5 ATLLAD15 ATLLAD15 *NONE "-count 200" *NO
QL.OUT.ATLLAD16.5 = ics_inbound_dj.sh QL.OUT.ATLLAD16.5 ATLLAD16 ATLLAD16 *NONE "-count 200" *NO
QL.OUT.ATLLAD17.5 = ics_inbound_dj.sh QL.OUT.ATLLAD17.5 ATLLAD17 ATLLAD17 *NONE "-count 500" *NO
QL.OUT.ATLLAD18.5 = ics_inbound_dj.sh QL.OUT.ATLLAD18.5 ATLLAD18 ATLLAD18 *NONE "-count 200" *NO
QL.OUT.ATLLAD19.5 = ics_inbound_dj.sh QL.OUT.ATLLAD19.5 ATLLAD19 ATLLAD19 *NONE "-count 200" *NO
QL.OUT.ATLLAD20.5 = ics_inbound_dj.sh QL.OUT.ATLLAD20.5 ATLLAD20 ATLLAD20 *NONE "-count 200" *NO
QL.OUT.ATLLAD21.5 = ics_inbound_dj.sh QL.OUT.ATLLAD21.5 ATLLAD21 ATLLAD21 *NONE "-count 200" *NO
QL.OUT.ATLLAD22.5 = ics_inbound_dj.sh QL.OUT.ATLLAD22.5 ATLLAD22 ATLLAD22 *NONE "-count 200" *NO
QL.OUT.ATLLAD23.5 = ics_inbound_dj.sh QL.OUT.ATLLAD23.5 ATLLAD23 ATLLAD23 *NONE "-count 200" *NO
QL.OUT.ATLLAD25.5 = ics_inbound_dj.sh QL.OUT.ATLLAD25.5 ATLLAD25 ATLLAD25 *NONE "-count 200" *NO

# Atlas Thailand (TH01 / TH02)
QL.OUT.ATLCIS03.23 = ics_passthru_dj.sh QL.OUT.ATLCIS03.23 ATLCIS03 ATLCIS03.23 *NONE "-count 200" *NO
QL.OUT.ATLCIS11.23 = ics_passthru_dj.sh QL.OUT.ATLCIS11.23 ATLCIS11 ATLCIS11.23 *NONE "-count 200" *NO
QL.OUT.ATLCIS12.23 = ics_passthru_dj.sh QL.OUT.ATLCIS12.23 ATLCIS12 ATLCIS12.23 *NONE "-count 200" *NO
QL.OUT.ATLCIS13.23 = ics_passthru_dj.sh QL.OUT.ATLCIS13.23 ATLCIS13 ATLCIS13.23 *NONE "-count 200" *NO
