#############################################################################
# File Name:  ics_loader.config
# Purpose  :  ICS Confoguration file.
# Created  :  August 12007
# Author   :  Steve Gregan
#
#############################################################################
# Modification History
#
# Version Name                  Date        Comments
# ------- --------------------- ----------- --------------------------------
# 1.0     Steve Gregan          2007-08-16  Original
# 1.6     Trevor Keon           2008-03-25  Converted to new standard
#
#############################################################################

INBOUND_PATH     /ics/test/inbound
OUTBOUND_PATH    /ics/test/outbound
ARCHIVE_PATH     /ics/test/archive
WEBVIEW_PATH     /ics/test/webview
STATISTICS_PATH  /ics/test/statistics
ICS_CLASS_PATH   /ics/test/java
JAVA_PATH        /opt/java1.4/jre/bin/java
WORK_PATH        /ics/test/work
BIN_PATH         /ics/test/bin
LOGFILE          /ics/test/log/ics_integration.log

SERVER           WGILX001.AP.MARS
AMI_TIER         test
SYS_TIER         test
ENV_VAR          /usr/local/bin/ami_settier
DATABASE         AP0068T
USERNAME         lics_app
PASSWORD         cask2007
