#############################################################################
# File Name:  ics_loader.config
# Purpose  :  ICS Confoguration file.
# Created  :  August 12007
# Author   :  Steve Gregan
#
#############################################################################
# Modification History
#
# Version Name                  Date        Comments
# ------- --------------------- ----------- --------------------------------
# 1.0     Steve Gregan          2007-08-16  Original
# 1.6     Trevor Keon           2008-04-30  Converted to new standard
#
#############################################################################

INBOUND_PATH     /ics/prod/inbound
OUTBOUND_PATH    /ics/prod/outbound
ARCHIVE_PATH     /ics/prod/archive
WEBVIEW_PATH     /ics/prod/webview
STATISTICS_PATH  /ics/prod/statistics
ICS_CLASS_PATH   /ics/prod/java
JAVA_PATH        /opt/java1.4/jre/bin/java
WORK_PATH        /ics/prod/work
BIN_PATH         /ics/prod/bin
LOGFILE          /ics/prod/log/ics_integration.log

SERVER           MFALX001.AP.MARS
AMI_TIER         prod
SYS_TIER         prod
ENV_VAR          /usr/local/bin/ami_settier
DATABASE         MFA005
USERNAME         lics_app
PASSWORD         riddoch96
