
#--------------------------------------------------[mqs_trigger_QM0075P.config]
#
# File    : mqs_trigger_QM0075P.config
# Purpose : Configuration file for proxy between messages to files...
# Created : March 2008
# Author  : Trevor Keon
#
# Modification History
#
# Version Name                  Date        Comments
# ------- ------------------ ----------- ---------------------------------------
# 1.0     Trevor Keon        2008-Mar-17 Initial release
# 1.1     Trevor Keon        2008-Dec-18 Added TOLPDB02.5 interface
#-------------------------------------------------------------------------------

# {Source Queue} {Script} {Queue} {Interface ID} {Interface ID} {FWD Q} {DJ STOP}
# -------------------------------------------

# PROD -------------------------------------------------------------------------

# Tolas interfaces
QL.TOLDCO01 = ics_inbound_mq.sh QL.TOLDCO01 TOLPDB01.5
QL.TOLDCO02 = ics_inbound_mq.sh QL.TOLDCO02 TOLPDB02.5
