#--------------------------------------------------[mqs_trigger_TOKU06P1.config]
#
# File    : mqs_trigger_WODU01P1.config
# Purpose : Configuration file for proxy between messages to files...
# Created : June 2004
# Author  : Don Arnison
#
# Modification History
#
# Version Name                  Date        Comments
# ------- ------------------ ----------- ---------------------------------------
# 1.0     Don Arnison        2004-Jun-22 Initial release
# 2.0     Trevor Keon        2007-Dec-02 Added support for editable DJ params
#-------------------------------------------------------------------------------

# {Source Queue} {Script} {Queue} {Interface ID} {Interface ID} {FWD Q} {DJ STOP}
# -------------------------------------------

# PROD -------------------------------------------------------------------------

QL.OUT.ATLLAD02.2 = ics_inbound_dj.sh QL.OUT.ATLLAD02.2 ATLLAD02 ATLLAD02 *NONE "-count 200"
QL.OUT.ATLLAD03.2 = ics_inbound_dj.sh QL.OUT.ATLLAD03.2 ATLLAD03 ATLLAD03 *NONE "-count 200"
QL.OUT.ATLLAD04.2 = ics_inbound_dj.sh QL.OUT.ATLLAD04.2 ATLLAD04 ATLLAD04 *NONE "-count 500"
QL.OUT.ATLLAD05.2 = ics_inbound_dj.sh QL.OUT.ATLLAD05.2 ATLLAD05 ATLLAD05 *NONE "-count 500"
QL.OUT.ATLLAD06.2 = ics_inbound_dj.sh QL.OUT.ATLLAD06.2 ATLLAD06 ATLLAD06 *NONE "-count 200"
QL.OUT.ATLLAD07.2 = ics_inbound_dj.sh QL.OUT.ATLLAD07.2 ATLLAD07 ATLLAD07 *NONE "-count 200"
QL.OUT.ATLLAD08.2 = ics_inbound_dj.sh QL.OUT.ATLLAD08.2 ATLLAD08 ATLLAD08 *NONE "-count 200"
QL.OUT.ATLLAD09.2 = ics_inbound_dj.sh QL.OUT.ATLLAD09.2 ATLLAD09 ATLLAD09 *NONE "-count 200"
QL.OUT.ATLLAD10.2 = ics_inbound_dj.sh QL.OUT.ATLLAD10.2 ATLLAD10 ATLLAD10 *NONE "-count 200"
QL.OUT.ATLLAD11.2 = ics_inbound_dj.sh QL.OUT.ATLLAD11.2 ATLLAD11 ATLLAD11 *NONE "-count 200"
QL.OUT.ATLLAD12.2 = ics_inbound_dj.sh QL.OUT.ATLLAD12.2 ATLLAD12 ATLLAD12 *NONE "-count 200"
QL.OUT.ATLLAD13.2 = ics_inbound_dj.sh QL.OUT.ATLLAD13.2 ATLLAD13 ATLLAD13 *NONE "-count 200"
QL.OUT.ATLLAD14.2 = ics_inbound_dj.sh QL.OUT.ATLLAD14.2 ATLLAD14 ATLLAD14 *NONE "-count 500"
QL.OUT.ATLLAD15.2 = ics_inbound_dj.sh QL.OUT.ATLLAD15.2 ATLLAD15 ATLLAD15 *NONE "-count 200"
QL.OUT.ATLLAD16.2 = ics_inbound_dj.sh QL.OUT.ATLLAD16.2 ATLLAD16 ATLLAD16 *NONE "-count 200"
QL.OUT.ATLLAD17.2 = ics_inbound_dj.sh QL.OUT.ATLLAD17.2 ATLLAD17 ATLLAD17 *NONE "-count 500"
QL.OUT.ATLLAD18.2 = ics_inbound_dj.sh QL.OUT.ATLLAD18.2 ATLLAD18 ATLLAD18 *NONE "-count 200"
QL.OUT.ATLLAD19.2 = ics_inbound_dj.sh QL.OUT.ATLLAD19.2 ATLLAD19 ATLLAD19 *NONE "-count 200"
QL.OUT.ATLLAD20.2 = ics_inbound_dj.sh QL.OUT.ATLLAD20.2 ATLLAD20 ATLLAD20 *NONE "-count 200"
QL.OUT.ATLLAD21.2 = ics_inbound_dj.sh QL.OUT.ATLLAD21.2 ATLLAD21 ATLLAD21 *NONE "-count 200"
QL.OUT.ATLLAD22.2 = ics_inbound_dj.sh QL.OUT.ATLLAD22.2 ATLLAD22 ATLLAD22 *NONE "-count 200"
QL.OUT.ATLLAD23.2 = ics_inbound_dj.sh QL.OUT.ATLLAD23.2 ATLLAD23 ATLLAD23 *NONE "-count 200"

