#############################################################################
# File Name:  ics_loader.config
# Purpose  :  Configuration file for ANZICS Inbound & Outbound interfaces
#             to/from Maestro.
# Created  :  April 04, 2008
# Author   :  Trevor Keon
#
#############################################################################
# Modification History
#
# Version Name                  Date        Comments
# ------- --------------------- ----------- --------------------------------
# 1.0     Trevor Keon           2008-04-03  Original
# 1.7     Trevor Keon           2008-10-23  Add SHLIB_PATH
#
#############################################################################

INBOUND_PATH    /ics/pts/prod/inbound
OUTBOUND_PATH   /ics/pts/prod/outbound
ARCHIVE_PATH    /ics/pts/prod/archive
WEBVIEW_PATH    /ics/pts/prod/webview
ICS_CLASS_PATH  /ics/pts/prod/java
JAVA_PATH       /opt/java1.4/jre/bin/java
SHLIB_PATH      /ics/sapjco32
WORK_PATH       /ics/pts/prod/work
BIN_PATH        /ics/pts/prod/bin
LOGFILE         /ics/pts/prod/log/ics_integration.log

SERVER          WODU002.AP.MARS
AMI_TIER        prod
SYS_TIER        prod
ENV_VAR         /usr/local/bin/ami_settier 
DATABASE        WOD050
USERNAME        lics_app
PASSWORD        licsnebula
