
#--------------------------------------------------[mqs_trigger_WODU03T1.config]
#
# File    : mqs_trigger_WODU03T1.config
# Purpose : Configuration file for proxy between messages to files...
# Created : October 2005
# Author  : Megan Henderson
#
# Modification History
#
# Version Name                  Date        Comments
# ------- ------------------ ----------- ---------------------------------------
# 1.0     Megan Henderson    2005-Oct-04 Configured for ICS-Promax
#-------------------------------------------------------------------------------

# {Source Queue} {Script} {Queue} {Interface ID} {Interface ID} {FWD Q} {DJ STOP}
# -------------------------------------------

# TEST -------------------------------------------------------------------------

QL.CISPMX01 = ics_inbound_mq.sh QL.CISPMX01 ARCLAIM01
QL.DWHPMX01 = ics_inbound_mq.sh QL.DWHPMX01 PRICELST02
QL.DWHPMX02 = ics_inbound_mq.sh QL.DWHPMX02 SALES02
QL.LOGPMX01 = ics_inbound_mq.sh QL.LOGPMX01 ARCLAIM02
QL.LOGPMX02 = ics_inbound_mq.sh QL.LOGPMX02 ARCLAIM03
QL.PECPMX01 = ics_inbound_mq.sh QL.PECPMX01 PROMACT02

