#############################################################################
# File Name:  ics_loader.config
# Purpose  :  Configuration file for ANZICS Inbound & Outbound interfaces
#             to/from Maestro.
# Created  :  March 24, 2004
# Author   :  Linden Glen
#
#############################################################################
# Modification History
#
# Version Name                  Date        Comments
# ------- --------------------- ----------- --------------------------------
# 1.0     Linden Glen           2004-03-24  Original
# 1.6     Trevor Keon           2008-02-12  Converted to new standard
#
#############################################################################

INBOUND_PATH    /ics/cuc/prod/inbound
OUTBOUND_PATH   /ics/cuc/prod/outbound
ARCHIVE_PATH    /ics/cuc/prod/archive
WEBVIEW_PATH    /ics/cuc/prod/webview
ICS_CLASS_PATH  /ics/cuc/prod/java
JAVA_PATH       /opt/java1.4/jre/bin/java
WORK_PATH       /ics/cuc/prod/work
BIN_PATH        /ics/cuc/prod/bin
LOGFILE         /ics/cuc/prod/log/ics_integration.log

SERVER          APU002.AP.MARS
AMI_TIER        QM0020P
SYS_TIER        prod
ENV_VAR         /usr/local/bin/ami_settier 
DATABASE        DB0845P
USERNAME        lics_app
PASSWORD        licskyte
