@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<ul>
    <li>@Html.ActionLink("RetrieveProcessOrderList", "RetrieveProcessOrderList")</li>
</ul>