@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "404";
}

<hgroup class="title">
    <h1 class="error">Not Found</h1>
    <br />
    <h2 class="error">The page you have requested cannot be found.</h2>
    <pre>
        @ViewBag.Exception
    </pre>
</hgroup>
