#############################################################################
# File Name:  ics_loader.config
# Purpose  :  Configuration file for ANZICS Inbound & Outbound interfaces
#             to/from Maestro.
# Created  :  March 24, 2004
# Author   :  Linden Glen
#
#############################################################################
# Modification History
#
# Version Name                  Date        Comments
# ------- --------------------- ----------- --------------------------------
# 1.0     Linden Glen           2004-03-24  Original
# 1.6     Trevor Keon           2008-02-12  Converted to new standard
# 1.7     Trevor Keon           2008-06-18  Add SHLIB_PATH
#
#############################################################################

INBOUND_PATH    /ics/cdw/test/inbound
OUTBOUND_PATH   /ics/cdw/test/outbound
ARCHIVE_PATH    /ics/cdw/test/archive
WEBVIEW_PATH    /ics/cdw/test/webview
ICS_CLASS_PATH  /ics/cdw/test/java
JAVA_PATH       /opt/java1.4/jre/bin/java
SHLIB_PATH      /ics/cdw/sapjco32
WORK_PATH       /ics/cdw/test/work
BIN_PATH        /ics/cdw/test/bin
LOGFILE         /ics/cdw/test/log/ics_integration.log

SERVER          WODU003.AP.MARS
AMI_TIER        test
SYS_TIER        test
ENV_VAR         /usr/local/bin/ami_settier 
DATABASE        AP0066T
USERNAME        ics_app
PASSWORD        icsgold
