
#--------------------------------------------------[mqs_trigger_WODU03T1.config]
#
# File    : mqs_trigger_WODU01P1.config
# Purpose : Configuration file for proxy between messages to files...
# Created : June 2004
# Author  : Don Arnison
#
# Modification History
#
# Version Name                  Date        Comments
# ------- ------------------ ----------- ---------------------------------------
# 1.0     Don Arnison        2004-Jun-22 Initial release
# 1.1     Stephen Gordon     2004-Aug-16 Changes for Megan Henderson
# 1.2     Megan Henderson    2004-Sep-30 Changed DJ var from 50 to 200
# 1.3     Megan Henderson    2004-Oct-08 MP2CIS08
# 1.4     Megan Henderson    2004-Nov-23 Setup for new TEST server WODY003
# 1.5     Linden Glen        2005-Feb-10 Setup Maxwells WMS interfaces
#                                        Setup Exel WMS interfaces
# 1.6     Linden Glen        2005-Feb-22 Removed ATLCIS03, replaced with ATLCIS03.1
# 1.7     Linden Glen        2005-Feb-28 Added QL.BALICS06 & QL.EX1ICS06
# 2.0     Linden Glen        2005-Sep-07 Added PET WH Queue definitions
# 2.1     Sunil Mandalika    2007-Jun-08 Changed QL.OUT.ATLLAD01 to QL.OUT.ATLLAD01.1
# 2.2     Trevor Keon        2008-Feb-12 Changed to contain CDW interfaces only 
#-------------------------------------------------------------------------------

# {Source Queue} {Script} {Queue} {Interface ID} {Interface ID} {FWD Q} {DJ STOP}
# -------------------------------------------

# Data Warehouse interfaces
QL.OUT.ATLODS02 = ics_inbound_mq.sh QL.OUT.ATLODS02 ATLODS02
QL.OUT.ATLODS03 = ics_inbound_mq.sh QL.OUT.ATLODS03 ATLODS03
QL.OUT.ATLODS04 = ics_inbound_mq.sh QL.OUT.ATLODS04 ATLODS04
QL.OUT.ATLODS06 = ics_inbound_mq.sh QL.OUT.ATLODS06 ATLODS06
QL.OUT.ATLODS07 = ics_inbound_mq.sh QL.OUT.ATLODS07 ATLODS07
QL.OUT.ATLODS08 = ics_inbound_mq.sh QL.OUT.ATLODS08 ATLODS08
QL.OUT.ATLODS09 = ics_inbound_mq.sh QL.OUT.ATLODS09 ATLODS09 
QL.OUT.ATLODS10 = ics_inbound_mq.sh QL.OUT.ATLODS10 ATLODS10
QL.OUT.ATLODS11 = ics_inbound_mq.sh QL.OUT.ATLODS11 ATLODS11
QL.OUT.ATLODS12 = ics_inbound_mq.sh QL.OUT.ATLODS12 ATLODS12
QL.OUT.ATLODS13 = ics_inbound_mq.sh QL.OUT.ATLODS13 ATLODS13
QL.OUT.ATLODS15 = ics_inbound_mq.sh QL.OUT.ATLODS15 ATLODS15
QL.OUT.ATLODS16 = ics_inbound_mq.sh QL.OUT.ATLODS16 ATLODS16
QL.OUT.ATLODS18 = ics_inbound_mq.sh QL.OUT.ATLODS18 ATLODS18
QL.OUT.ATLODS19 = ics_inbound_mq.sh QL.OUT.ATLODS19 ATLODS19
QL.OUT.ATLODS20 = ics_inbound_mq.sh QL.OUT.ATLODS20 ATLODS20
QL.OUT.ATLODS21 = ics_inbound_mq.sh QL.OUT.ATLODS21 ATLODS21
QL.OUT.ATLODS22 = ics_inbound_mq.sh QL.OUT.ATLODS22 ATLODS22
QL.OUT.ATLODS23 = ics_inbound_mq.sh QL.OUT.ATLODS23 ATLODS23
QL.LEGODS01 = ics_inbound_mq.sh QL.LEGODS01 LEGODS01
QL.LEGODS02 = ics_inbound_mq.sh QL.LEGODS02 LEGODS02
QL.PPRODS01 = ics_inbound_mq.sh QL.PPRODS01 PPRODS01

# GRD to CDW Interfaces
QL.OUT.ATLLAD04.3 = ics_inbound_dj.sh QL.OUT.ATLLAD04.3 ATLLAD04 GRDCDW04 *NONE "-count 200"
QL.OUT.ATLLAD06.3 = ics_inbound_dj.sh QL.OUT.ATLLAD06.3 ATLLAD06 GRDCDW06 *NONE "-count 200"

# Regional DBP -> CDW
QL.REGODS01 = ics_inbound_mq.sh QL.REGODS01 REGODS01 

# Promax to CDW Interfaces
QL.PMXCDW01 = ics_inbound_mq.sh QL.PMXCDW01 PMXCDW01
QL.PMXCDW02 = ics_inbound_mq.sh QL.PMXCDW02 PMXCDW02
QL.PMXCDW03 = ics_inbound_mq.sh QL.PMXCDW03 PMXCDW03
QL.PMXCDW04 = ics_inbound_mq.sh QL.PMXCDW04 PMXCDW04
QL.PMXCDW05 = ics_inbound_mq.sh QL.PMXCDW05 PMXCDW05
