@{
    ViewBag.Title = "Cache Flushed";
}
<br />
<p>
    The File Loader Utility application cache has been flushed.
</p>
<p>
    And dbms_session.package_reset has been called on the Oracle session.
</p>
<br />
<br />
<br />