
#--------------------------------------------------[mqs_trigger_QM0077T.config]
#
# File    : mqs_trigger_QM0077T.config
# Purpose : Configuration file for proxy between messages to files...
# Created : March 2008
# Author  : Trevor Keon
#
# Modification History
#
# Version Name                  Date        Comments
# ------- ------------------ ----------- ---------------------------------------
# 1.0     Trevor Keon        2008-Mar-05 Initial release
#-------------------------------------------------------------------------------

# {Source Queue} {Script} {Queue} {Interface ID} {Interface ID} {FWD Q} {DJ STOP}
# -------------------------------------------

# TEST -------------------------------------------------------------------------

# Tolas interfaces
QL.TOLDCO01.TEST = ics_inbound_mq.sh QL.TOLDCO01.TEST TOLPDB01.5
